<h1>Dinesh Site</h1>

<table>
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Quantiy</td>
    <td>Price</td>
    <td>Image</td>
    <td>Actions</td>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product._id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.image }}</td>
    <td>
      <button>Edit</button>
      <button (click)="deleteProduct(product._id)">Delete</button></td>
  </tr>
</table>


<style>
  table {
    border: solid 1px black;

  }
</style>